%h2 Contributors
%ul
  %li
    Dr Nic -
    %a{ :href => 'http://github.com/drnic' } github
    \-
    %a{ :href => 'http://twitter.com/drnic' } @drnic
    \-
    %a{ :href => 'http://drnicwilliams.com' } drnicwilliams.com
  %li
    Greg DeVore
    %a{ :href => "http://github.com/bluemango"} github
    \-
    %a{ :href => "http://twitter.com/gdevore"} @gdevore
    \-
    %a{ :href => "http://bluemangolearning.com/blog"} bluemangolearning.com
    